.header__about{
    width: 400px;
    font-size: 23px;
    font-style: italic;
    position: absolute;
    right: 48px;
    bottom: -8px;
}

@media screen and (min-width: 600px) and (max-width:900px){
.header__about{
    right: -19px;
    bottom: -20px;
    width: 300px;
    right: 80px;
    }
}

@media screen and (min-width: 320px) and (max-width:600px){
.header__about{
    top: 581px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
}