.header__about{
    width: 400px;
    font-size: 23px;
    font-style: italic;
    position: absolute;
    right: 48px;
    bottom: -8px;
}

@media screen and (min-width: 600px) and (max-width:900px){
}

@media screen and (min-width: 320px) and (max-width:600px){

}