.header{
    position: relative;
    width: 1000px;
    height: 574px;
} 


@media screen and (min-width: 600px) and (max-width:900px){
.header{
    width: 877px;
    height: auto;
}}

@media screen and (min-width: 320px) and (max-width:600px){
.header{
    width: 462px;
}
}