.box__content-paragraph-span{
    font-size: 21px;
    line-height: 60px;
}

@media screen and (min-width: 600px) and (max-width:900px){
}

@media screen and (min-width: 320px) and (max-width:600px){
.box__content-paragraph-span{
    font-size: 30px;
    line-height: 80px;
    font-style: italic;
}
}