.image__visible{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.85);
    opacity: 1;
    transition: all 0.3s;
    }

    @media screen and (min-width: 600px) and (max-width:900px){
    }
    
    @media screen and (min-width: 320px) and (max-width:600px){
    
    }