.header__title{
    position: absolute;
    right: 38px;
    font-size: 60px;
    top: -7px;
    font-family: 'Sometype Mono', monospace;
}

@media screen and (min-width: 600px) and (max-width:900px){
    .header__title{
        font-size: xxx-large;
    left: 478px;
    }
}

@media screen and (min-width: 320px) and (max-width:600px){
.header__title{
    font-size: 30px;
    right: 380px;
    top: -17px;
}
}