.header__greeting{
    font-size: 120px;
    position: absolute;
    rotate: -90deg;
    left: -277px;
    top: 172px;
}

@media screen and (min-width: 600px) and (max-width:900px){
    .header__greeting{
        font-size: 80px;
        right: 495px;
        top: 28px;
    }
}

@media screen and (min-width: 320px) and (max-width:600px){
.header__greeting{
    font-size: 100px;
    top: 110px;
    right: 136px;
}
}